<div class="chooseus p-5">
    <h2 class="h2 text-center m-5 header">About us</h2>
    <div class="container">
        <h2 class="h2 text-center">Why choose us</h2>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sed.</p>
        <div class="row mt-5">
            <div class="col">
                <span>01</span>
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, ad.</p>
            </div>
            <div class="col">
                <span>02</span>
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, ad.</p>
            </div>
            <div class="col">
                <span>03</span>
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, ad.</p>
            </div>
        </div>
    </div>
</div>