<main>
    <div class="hero d-flex flex-column justify-content-center align-items-center text-white">
        <h2 class="h2 text-center header">Ristorante Il Gambero Rosso</h2>
        <h3 class="h3 text-center">Delivering great food for more than 18 years</h3>
        <div class="buttons m-3">
            <a routerLink="menu" class="btn btn-success m-2">Our Menu</a>
            <a href="tel:06641234567" class="btn btn-success m-2">Book a Table</a>
        </div>
    </div>
    <div class="container my-5">
        <h2 class="h2 fw-bold text-center mb-5 header">Ristorante Il Gambero Rosso</h2>
        <div class="row">
            <div class="col-lg-4">
                <img class="img-fluid" src="../../assets/img/col.jpg" alt="pizza">
            </div>
            <div class="col-lg-8">
                <h3 class="h3">Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel fugiat in excepturi atque asperiores,
                    ducimus dolorum quo deleniti eius explicabo.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, corporis.</li>
                    <li>Unde pariatur vel maiores sed autem dolores non, illum ipsum? Provident, nobis!</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                </ul>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eos cupiditate sequi.</p>
            </div>
        </div>
    </div>
    <div class="chooseus p-5">
        <div class="container">
            <h2 class="h2 text-center header">Why choose us</h2>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sed.</p>
            <div class="row mt-5">
                <div class="col">
                    <span>01</span>
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, ad.</p>
                </div>
                <div class="col">
                    <span>02</span>
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, ad.</p>
                </div>
                <div class="col">
                    <span>03</span>
                    <h3>Lorem Ipsum</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati, ad.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5 specials">
        <h2 class="h2 text-center header">Check our specials</h2>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, sed.</p>
        <div class="d-flex align-items-start mt-5">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                    aria-selected="true">Home</button>
                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                    aria-selected="false">Profile</button>
                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                    aria-selected="false">Messages</button>
                <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                    aria-selected="false">Settings</button>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi dignissimos mollitia dicta pariatur
                    voluptatibus eos iure animi laborum qui maiores?
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi dignissimos mollitia dicta pariatur
                    voluptatibus eos iure animi laborum qui maiores?
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi dignissimos mollitia dicta pariatur
                    voluptatibus eos iure animi laborum qui maiores?
                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi dignissimos mollitia dicta pariatur
                    voluptatibus eos iure animi laborum qui maiores?
                </div>
            </div>
        </div>
    </div>
</main>